.post {
  width: 274px;
  margin-right: 12px;
  margin-bottom: 30px;
  cursor: pointer;
  /* border: 5px solid rgb(23, 35, 209); */
}

.postImgContainer {
  position: relative;
  width: 274px;
  height: 153px;
  /* border: 5px solid red; */
}

.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postDuration {
  position: absolute;
  background-color: #3335;
  bottom: 5px;
  right: 0;
  padding: 2px 5px;
  font-weight: 500;
}

.postInfoContainer {
  display: flex;
  margin-top: 15px;
  /* border: 1px solid rgb(104, 238, 51); */
}

.postAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
  /* border: 1px solid red; */
}

.postInfo {
  display: flex;
  flex-direction: column;
  /* border: 4px solid rgb(214, 236, 17); */
}

.postTitle {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  /* border: 1px solid red; */
}

.postChannel,
.postDetail {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 3px;
  /* border: 1px solid red; */
}
